@{
    ViewData["Title"] = "Atillas";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please write in your disired currency to convert:</p>
    <form method="post">
        <input type="number" min="0" name="Amount" />
    </form>
</div>
